<div class="container">
  <div class="row">
    <div class="col-md-5">
      <%= attachment_image_tag(@item, :image, :fill, 300, 300) %>
    </div>
    <div class="col-md-7">
      <table class='table'>
	      <tr>
	        <th><%= @item.name %></th>
        </tr>
        <tr>
	        <th><%= @item.description %></th>
        </tr>
        <tr>
          <th>￥<%= @item.tax_included_price %>(税込み)</th>
        </tr>
      </table>
      <%= form_with model: @cart_item, local:true do |f| %>
        <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.number_field :amount %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>